In [100]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
cpi = pd.read_html('https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/')
cpi = cpi[0]
cpi.columns = cpi.iloc[1,:]
cpi = cpi.iloc[2:,:]
cpi.to_csv('CPI Cleaned.csv')

In [35]:
cpi = cpi.melt(id_vars = 'Year', var_name = 'Month', value_name = 'CPI')

In [37]:
cpi.sort_values(by = 'Year')

      Year    Month      CPI
0     1913      Jan      9.8
1540  1913  Avg-Avg        –
1100  1913      Nov     10.1
550   1913     June      9.8
1320  1913      Avg      9.9
...    ...      ...      ...
219   2022      Feb  283.716
1429  2022      Avg      NaN
109   2022      Jan  281.148
1099  2022      Oct      NaN
1649  2022  Avg-Avg      NaN

[1650 rows x 3 columns]

In [43]:
cpi = cpi[(cpi['Month'] == 'Jan') |(cpi['Month'] == 'Apr') | (cpi['Month'] == 'Jul') |(cpi['Month'] == 'Oct')]

In [47]:
cpi['Date'] = cpi['Year'] + '-' + cpi['Month']
cpi['Date'] = pd.to_datetime(cpi['Date'])

<ipython-input-47-87dd289c971d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpi['Date'] = cpi['Year'] + '-' + cpi['Month']
<ipython-input-47-87dd289c971d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpi['Date'] = pd.to_datetime(cpi['Date'])

In [51]:
cpi = cpi.set_index('Date').drop(['Year', 'Month'], axis = 1)

In [54]:
cpi

                CPI
Date
1913-01-01      9.8
1914-01-01     10.0
1915-01-01     10.1
1916-01-01     10.4
1917-01-01     11.7
...             ...
2018-10-01  252.885
2019-10-01  257.346
2020-10-01  260.388
2021-10-01  276.589
2022-10-01      NaN

[330 rows x 1 columns]

In [80]:
#https://fred.stlouisfed.org/series/GDPC1
gdp = pd.read_csv('/Users/brianlivian/Downloads/GDPC1.csv')
gdp = gdp.rename(columns = {'DATE': 'Date'})
gdp['Date'] = pd.to_datetime(gdp['Date'])

In [81]:
gdp = gdp.set_index('Date')

In [82]:
gdp

                GDPC1
Date
1947-01-01   2034.450
1947-04-01   2029.024
1947-07-01   2024.834
1947-10-01   2056.508
1948-01-01   2087.442
...               ...
2021-04-01  19368.310
2021-07-01  19478.893
2021-10-01  19806.290
2022-01-01  19727.918
2022-04-01  19681.682

[302 rows x 1 columns]

In [83]:
data = gdp.join(cpi, how = 'inner')

In [108]:
data

                GDPC1      CPI
Date
1947-01-01   2034.450     21.5
1947-04-01   2029.024     21.9
1947-10-01   2056.508     23.0
1948-01-01   2087.442     23.7
1948-04-01   2121.899     23.8
...               ...      ...
2021-01-01  19055.655  261.582
2021-04-01  19368.310  267.054
2021-10-01  19806.290  276.589
2022-01-01  19727.918  281.148
2022-04-01  19681.682  289.109

[227 rows x 2 columns]